@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Yellowtail&family=Segoe+UI&family=Lobster&display=swap");


.tabs {
    display: grid;
    grid-template-columns: 1fr 400px 1fr auto 1fr;
    font-size: small;
    gap: 0px;
    background-color: rgba(255,247,243,0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 150px;
    min-height: 20px;
}


.tab-Anahita {
    height: 100px;
    padding-top: 37px;
    padding-bottom: 10px;
    border: none;
    font-family: 'Yellowtail', 'Lobster', 'Pacifico', cursive;
    font-size: 6em; 
    letter-spacing: 2px; 
    color: #b76e79; 
    text-shadow: 1px 1px 6px #fff; 
    text-align: center; 
    justify-self: center;
}

.tab-all {
    height: 40px;
    padding-top: 100px;
    padding-bottom: 10px;
    border: none;
    display: grid;
    grid-template-columns: repeat(6, auto);
    column-gap: 30px;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 1.4em;
    color: #222;
    text-align: center; 
    justify-self: center;
}

.tab-each {
  position: relative;
}

@media (min-width: 900px) {
  .tab-each::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background: #323232;
    left: 50%;
    bottom: 0;                /* bottom of text box */
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }

  .tab-each:hover::after {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .tab-all {
    gap: 20px;
    }
}

@media (max-width: 900px) {
    .tabs {
    grid-template-columns: 1fr;
    align-items: center;
  }
    .tab-Anahita {
    padding-top: 15px;
    padding-bottom: 5px;
    }
  .tab-all {
    padding-top: 5px;
    padding-bottom: 30px;
    gap: 15px;
    }
}

@media (max-width: 600px) {
    .tabs {
    grid-template-columns: 1fr;
    align-items: center;
  }
    .tab-Anahita {
    padding-top: 15px;
    padding-bottom: 5px;
    }
  .tab-all {
    padding-top: 5px;
    padding-bottom: 30px;
    font-size: 1.2em;
    gap: 15px;
    }
}



#greeting {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: rgba(255,247,243,1);
    width: 100%;
    min-height: 600px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    right: 50%;
    top: 0;
    transform: translateX(-50%);
    box-sizing: border-box;
    color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.greeting-title {
    font-size: 5.5em;
    margin-bottom: 10px; 
}

.greeting-description {
    font-size: 1.55em; 
}

.about-button {
    font-family: 'Segoe UI', cursive;
    margin-top: 50px; 
    background-color: #323232; 
    color: rgba(255, 255, 255, 0.9); 
    border: 2px solid transparent; /* no visible border initially */
    padding: 15px 20px; 
    border-radius: 50px; 
    cursor: pointer;
    font-size: 2em;
}

.about-button:hover {
    background-color: rgba(255,247,243,1);
    color: #222; 
    border-color: #222;
    border: 2px solid #222;  /* border appears on hover */
}


@media (max-width: 1100px) {
  #greeting {
    grid-template-columns: repeat(3, 1fr); /* Tablet: 2 columns */
  }
  .greeting-title {
    font-size: 4.5em; 
  }
  .greeting-description {
    font-size: 1.25em; 
  }
  .about-button {
    margin-top: 80px; 
    font-size: 1.6em;
  }
}

@media (max-width: 900px) {
  .greeting-title {
    font-size: 3.5em; 
  }
  .greeting-description {
    font-size: 1em; 
  }
  .about-button {
    margin-top: 70px; 
    font-size: 1.4em;
  }
}

@media (max-width: 600px) {
  .greeting-title {
    font-size: 3em; 
  }
  .greeting-description {
    font-size: 0.9em; 
  }
  .about-button {
    margin-top: 60px; 
    font-size: 1.2em;
  }
}

#article {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 10fr 1fr;
    background-color: #e0fcb4;
    width: 100%;
    min-height: 450px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    right: 50%;
    top: 0;
    transform: translateX(-50%);
    box-sizing: border-box;
    color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-img {
    width: 100%; 
    aspect-ratio: 35/24; 
    display: block;        /* remove inline spacing */
    margin: 0;        /* optional, center if needed */
    border-radius: 50px;
}

.article-title {
    font-size: 2.1em;
    margin-bottom: 40px; 
}

.article-description {
    font-size: 1.3em; 
    margin-top: 30px; 
    margin-bottom: 40px;
    text-align: left; 
    font-family: 'Segoe UI';
}
@media (max-width: 1100px) {
  #article {
    grid-template-columns: 1fr 8fr 1fr;
    min-height: 900px;
  }
  .article-title {
    font-size: 1.9em;
    padding-bottom: 150px;
  }
}

@media (max-width: 900px) {
  #article {
    min-height: 750px;
  }
  .article-title {
    font-size: 1.9em;
  }
  .article-description {
      font-size: 1.2em; 
  }
}

@media (max-width: 600px) {
  #article {
    min-height: 600px;
  }
  .article-title {
    font-size: 1.5em;
  }
  .article-description {
      font-size: 1em; 
  }
}

#EurIPS {
    display: grid;
    grid-template-columns: 1fr 12fr 1fr 1fr 8fr 1fr;
    background-color: rgba(255,247,243,1);
    width: 100%;
    min-height: 700px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    right: 50%;
    top: 0;
    transform: translateX(-50%);
    box-sizing: border-box;
    color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EurIPS-img {
    width: 90%; 
    display: block;        /* remove inline spacing */
    margin: 0 auto;        /* optional, center if needed */
    border-radius: 50px;
}

.EurIPS-title {
    font-size: 2em;
    margin-bottom: 50px; 
}

.EurIPS-description {
    font-size: 1.3em; 
    margin-top: 30px; 
    margin-bottom: 50px;
    text-align: left; 
    font-family: 'Segoe UI';
}

@media (max-width: 1100px) {
  #EurIPS {
    min-height: 450px;
  }
  .EurIPS-img {
    width: 80%; 
    display: block;        /* remove inline spacing */
    margin: 0 auto;        /* optional, center if needed */
    border-radius: 50px;
  }
}

@media (max-width: 900px) {
  #EurIPS {
    grid-template-columns: 1fr 8fr 1fr;
    min-height: 800px;
  }
  .EurIPS-img {
    width: 70%; 
  }
}

@media (max-width: 600px) {
  #EurIPS {
    min-height: 700px;
  }
  .EurIPS-img {
    width: 80%; 
  }
  .EurIPS-title {
    font-size: 1.5em;
  }
  .EurIPS-description {
      font-size: 1em; 
  }
}

.ivory-button {
  display: flex;
  align-items: center;       /* vertical centering */
  justify-content: center;   /* horizontal centering */
  font-family: 'Segoe UI', cursive;
  margin-top: 10px; 
  color: #222; 
  border: 2px solid transparent; /* no visible border initially */
  padding: 15px 40px; 
  border-radius: 20px; 
  cursor: pointer;
  font-size: 1.5em;
  line-height: 1; /* adjust to center text vertically */
}

.ivory-button:hover {
  background-color: #323232;
  color: rgba(255, 255, 255, 0.9); 
  border-color: #222;
  border: 1.5px solid #222;  /* border appears on hover */
}

.pastel-button {
    font-family: 'Segoe UI', cursive;
    margin-top: 60px; 
    background-color: #323232; 
    color: rgba(255, 255, 255, 0.9); 
    border: 2px solid transparent; /* no visible border initially */
    padding: 15px 40px; 
    border-radius: 50px; 
    cursor: pointer;
    font-size: 1.5em;
}

.pastel-button:hover {
    background-color: #e0fcb4;
    color: #222; 
    border-color: #222;
    border: 1.5px solid #222;  /* border appears on hover */
}

@media (max-width: 1100px) {
  .ivory-button {
    margin-top: 40px; 
    font-size: 1.2em;
  }
  .pastel-button {
    margin-top: 40px; 
    font-size: 1.2em;
  }
}

@media (max-width: 600px) {
  .ivory-button {
    margin-top: 30px; 
    font-size: 1em;
  }
  .pastel-button {
    margin-top: 30px; 
    font-size: 1em;
  }
}


.ending {
    background-color: #333;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    right: 50%;
    top: 0;
    transform: translateX(-50%);
    box-sizing: border-box;
    text-align: center;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

