@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Yellowtail&family=Segoe+UI&family=Lobster&display=swap");


.tabs {
    display: grid;
    grid-template-columns: 1fr 400px 1fr auto 1fr;
    font-size: small;
    gap: 0px;
    background-color: rgba(255,247,243,0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 150px;
    min-height: 20px;
}

.tab-Anahita {
    height: 100px;
    padding-top: 37px;
    padding-bottom: 10px;
    border: none;
    font-family: 'Yellowtail', 'Lobster', 'Pacifico', cursive;
    font-size: 6em; 
    letter-spacing: 2px; 
    color: #b76e79; 
    text-shadow: 1px 1px 6px #fff; 
    text-align: center; 
    justify-self: center;
}

.tab-all {
    height: 40px;
    padding-top: 100px;
    padding-bottom: 10px;
    border: none;
    display: grid;
    grid-template-columns: repeat(6, auto);
    column-gap: 30px;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 1.4em;
    color: #222;
    text-align: center; 
    justify-self: center;
}

.tab-each {
  position: relative;
}

@media (min-width: 900px) {
.tab-each::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background: #323232;
  left: 50%;
  bottom: 0;                /* bottom of text box */
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.tab-each:hover::after {
  width: 100%;
}
}

@media (max-width: 1100px) {
  .tab-all {
    gap: 20px;
    }
}

@media (max-width: 900px) {
    .tabs {
    grid-template-columns: 1fr;
    align-items: center;
  }
    .tab-Anahita {
    padding-top: 15px;
    padding-bottom: 5px;
    }
  .tab-all {
    padding-top: 5px;
    padding-bottom: 30px;
    gap: 15px;
    }
}

@media (max-width: 600px) {
    .tabs {
    grid-template-columns: 1fr;
    align-items: center;
  }
    .tab-Anahita {
    padding-top: 15px;
    padding-bottom: 5px;
    }
  .tab-all {
    padding-top: 5px;
    padding-bottom: 30px;
    font-size: 1.2em;
    gap: 15px;
    }
}



#greeting {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr 1fr 20fr 1fr;
    background-color: rgba(255,247,243,1);
    width: 100%;
    min-height: 600px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    right: 50%;
    top: 0;
    transform: translateX(-50%);
    box-sizing: border-box;
    color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.greeting-title {
    font-size: 4em;
    margin-bottom: 10px; 
}

.greeting-description {
    font-size: 1.2em; 
}

.profile-image {
    border-bottom-left-radius: 20%;
    border-top-left-radius: 20%; 
    aspect-ratio: 1 / 1;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 1350px) {
  .greeting-title {
    font-size: 3.3em; 
  }
}

@media (max-width: 1150px) {
  #greeting {
    grid-template-columns: 1fr 10fr 1fr; /* Tablet: 2 columns */
  }
  .greeting-title {
    font-size: 3.0em; 
  }
  .greeting-description {
    font-size: 1.1em; 
  }
  .profile-image {
    border-radius: 20%;
  }
}

@media (max-width: 600px) {
  .greeting-title {
    font-size: 2.5em; 
  }
  .greeting-description {
    font-size: 1em; 
  }
  .profile-image {
    width: 400px;
  }
}

